$yuhong: #C04851;

$color-stack:
  (group: RED, id: pale, color: #ffcdd2),
  (group: RED, id: normal, color: #f44336),
  (group: RED, id: dark, color: #b71c1c),
  (group: RED, id: 50, color: #ffebee),
  (group: RED, id: 100, color: #ffcdd2),
  (group: RED, id: 200, color: #ef9a9a),
  (group: RED, id: 300, color: #e57373),
  (group: RED, id: 400, color: #ef5350),
  (group: RED, id: 500, color: #f44336),
  (group: RED, id: 600, color: #e53935),
  (group: RED, id: 700, color: #d32f2f),
  (group: RED, id: 800, color: #c62828),
  (group: RED, id: 900, color: #b71c1c),
  (group: RED, id: A100, color: #ff8a80),
  (group: RED, id: A200, color: #ff5252),
  (group: RED, id: A400, color: #ff1744),
  (group: RED, id: A700, color: #d50000),

  (group: PINK, id: pale, color: #f8bbd0),
  (group: PINK, id: normal, color: #e91e63),
  (group: PINK, id: dark, color: #880e4f),
  (group: PINK, id: 50, color: #fce4ec),
  (group: PINK, id: 100, color: #f8bbd0),
  (group: PINK, id: 200, color: #f48fb1),
  (group: PINK, id: 300, color: #f06292),
  (group: PINK, id: 400, color: #ec407a),
  (group: PINK, id: 500, color: #e91e63),
  (group: PINK, id: 600, color: #d81b60),
  (group: PINK, id: 700, color: #c2185b),
  (group: PINK, id: 800, color: #ad1457),
  (group: PINK, id: 900, color: #880e4f),
  (group: PINK, id: A100, color: #ff80ab),
  (group: PINK, id: A200, color: #ff4081),
  (group: PINK, id: A400, color: #f50057),
  (group: PINK, id: A700, color: #c51162),

  (group: PURPLE, id: pale, color: #e1bee7),
  (group: PURPLE, id: normal, color: #9c27b0),
  (group: PURPLE, id: dark, color: #4a148c),
  (group: PURPLE, id: 50, color: #f3e5f5),
  (group: PURPLE, id: 100, color: #e1bee7),
  (group: PURPLE, id: 200, color: #ce93d8),
  (group: PURPLE, id: 300, color: #ba68c8),
  (group: PURPLE, id: 400, color: #ab47bc),
  (group: PURPLE, id: 500, color: #9c27b0),
  (group: PURPLE, id: 600, color: #8e24aa),
  (group: PURPLE, id: 700, color: #7b1fa2),
  (group: PURPLE, id: 800, color: #6a1b9a),
  (group: PURPLE, id: 900, color: #4a148c),
  (group: PURPLE, id: A100, color: #ea80fc),
  (group: PURPLE, id: A200, color: #e040fb),
  (group: PURPLE, id: A400, color: #d500f9),
  (group: PURPLE, id: A700, color: #aa00ff),

  (group: DEEPPURPLE, id: pale, color: #d1c4e9),
  (group: DEEPPURPLE, id: normal, color: #673ab7),
  (group: DEEPPURPLE, id: dark, color: #311b92),
  (group: DEEPPURPLE, id: 50, color: #ede7f6),
  (group: DEEPPURPLE, id: 100, color: #d1c4e9),
  (group: DEEPPURPLE, id: 200, color: #b39ddb),
  (group: DEEPPURPLE, id: 300, color: #9575cd),
  (group: DEEPPURPLE, id: 400, color: #7e57c2),
  (group: DEEPPURPLE, id: 500, color: #673ab7),
  (group: DEEPPURPLE, id: 600, color: #5e35b1),
  (group: DEEPPURPLE, id: 700, color: #512da8),
  (group: DEEPPURPLE, id: 800, color: #4527a0),
  (group: DEEPPURPLE, id: 900, color: #311b92),
  (group: DEEPPURPLE, id: A100, color: #b388ff),
  (group: DEEPPURPLE, id: A200, color: #7c4dff),
  (group: DEEPPURPLE, id: A400, color: #651fff),
  (group: DEEPPURPLE, id: A700, color: #6200ea),

  (group: INDIGO, id: pale, color: #c5cae9),
  (group: INDIGO, id: normal, color: #3f51b5),
  (group: INDIGO, id: dark, color: #1a237e),
  (group: INDIGO, id: 50, color: #e8eaf6),
  (group: INDIGO, id: 100, color: #c5cae9),
  (group: INDIGO, id: 200, color: #9fa8da),
  (group: INDIGO, id: 300, color: #7986cb),
  (group: INDIGO, id: 400, color: #5c6bc0),
  (group: INDIGO, id: 500, color: #3f51b5),
  (group: INDIGO, id: 600, color: #3949ab),
  (group: INDIGO, id: 700, color: #303f9f),
  (group: INDIGO, id: 800, color: #283593),
  (group: INDIGO, id: 900, color: #1a237e),
  (group: INDIGO, id: A100, color: #8c9eff),
  (group: INDIGO, id: A200, color: #536dfe),
  (group: INDIGO, id: A400, color: #3d5afe),
  (group: INDIGO, id: A700, color: #304ffe),

  (group: BLUE, id: pale, color: #bbdefb),
  (group: BLUE, id: normal, color: #2196f3),
  (group: BLUE, id: dark, color: #0d47a1),
  (group: BLUE, id: 50, color: #e3f2fd),
  (group: BLUE, id: 100, color: #bbdefb),
  (group: BLUE, id: 200, color: #90caf9),
  (group: BLUE, id: 300, color: #64b5f6),
  (group: BLUE, id: 400, color: #42a5f5),
  (group: BLUE, id: 500, color: #2196f3),
  (group: BLUE, id: 600, color: #1e88e5),
  (group: BLUE, id: 700, color: #1976d2),
  (group: BLUE, id: 800, color: #1565c0),
  (group: BLUE, id: 900, color: #0d47a1),
  (group: BLUE, id: A100, color: #82b1ff),
  (group: BLUE, id: A200, color: #448aff),
  (group: BLUE, id: A400, color: #2979ff),
  (group: BLUE, id: A700, color: #2962ff),

  (group: LIGHTBLUE, id: pale, color: #b3e5fc),
  (group: LIGHTBLUE, id: normal, color: #03a9f4),
  (group: LIGHTBLUE, id: dark, color: #01579b),
  (group: LIGHTBLUE, id: 50, color: #e1f5fe),
  (group: LIGHTBLUE, id: 100, color: #b3e5fc),
  (group: LIGHTBLUE, id: 200, color: #81d4fa),
  (group: LIGHTBLUE, id: 300, color: #4fc3f7),
  (group: LIGHTBLUE, id: 400, color: #29b6f6),
  (group: LIGHTBLUE, id: 500, color: #03a9f4),
  (group: LIGHTBLUE, id: 600, color: #039be5),
  (group: LIGHTBLUE, id: 700, color: #0288d1),
  (group: LIGHTBLUE, id: 800, color: #0277bd),
  (group: LIGHTBLUE, id: 900, color: #01579b),
  (group: LIGHTBLUE, id: A100, color: #80d8ff),
  (group: LIGHTBLUE, id: A200, color: #40c4ff),
  (group: LIGHTBLUE, id: A400, color: #00b0ff),
  (group: LIGHTBLUE, id: A700, color: #0091ea),

  (group: CYAN, id: pale, color: #b2ebf2),
  (group: CYAN, id: normal, color: #00bcd4),
  (group: CYAN, id: dark, color: #006064),
  (group: CYAN, id: 50, color: #e0f7fa),
  (group: CYAN, id: 100, color: #b2ebf2),
  (group: CYAN, id: 200, color: #80deea),
  (group: CYAN, id: 300, color: #4dd0e1),
  (group: CYAN, id: 400, color: #26c6da),
  (group: CYAN, id: 500, color: #00bcd4),
  (group: CYAN, id: 600, color: #00acc1),
  (group: CYAN, id: 700, color: #0097a7),
  (group: CYAN, id: 800, color: #00838f),
  (group: CYAN, id: 900, color: #006064),
  (group: CYAN, id: A100, color: #84ffff),
  (group: CYAN, id: A200, color: #18ffff),
  (group: CYAN, id: A400, color: #00e5ff),
  (group: CYAN, id: A700, color: #00b8d4),

  (group: TEAL, id: pale, color: #b2dfdb),
  (group: TEAL, id: normal, color: #009688),
  (group: TEAL, id: dark, color: #004d40),
  (group: TEAL, id: 50, color: #e0f2f1),
  (group: TEAL, id: 100, color: #b2dfdb),
  (group: TEAL, id: 200, color: #80cbc4),
  (group: TEAL, id: 300, color: #4db6ac),
  (group: TEAL, id: 400, color: #26a69a),
  (group: TEAL, id: 500, color: #009688),
  (group: TEAL, id: 600, color: #00897b),
  (group: TEAL, id: 700, color: #00796b),
  (group: TEAL, id: 800, color: #00695c),
  (group: TEAL, id: 900, color: #004d40),
  (group: TEAL, id: A100, color: #a7ffeb),
  (group: TEAL, id: A200, color: #64ffda),
  (group: TEAL, id: A400, color: #1de9b6),
  (group: TEAL, id: A700, color: #00bfa5),

  (group: GREEN, id: pale, color: #c8e6c9),
  (group: GREEN, id: normal, color: #4caf50),
  (group: GREEN, id: dark, color: #1b5e20),
  (group: GREEN, id: 50, color: #e8f5e9),
  (group: GREEN, id: 100, color: #c8e6c9),
  (group: GREEN, id: 200, color: #a5d6a7),
  (group: GREEN, id: 300, color: #81c784),
  (group: GREEN, id: 400, color: #66bb6a),
  (group: GREEN, id: 500, color: #4caf50),
  (group: GREEN, id: 600, color: #43a047),
  (group: GREEN, id: 700, color: #388e3c),
  (group: GREEN, id: 800, color: #2e7d32),
  (group: GREEN, id: 900, color: #1b5e20),
  (group: GREEN, id: A100, color: #b9f6ca),
  (group: GREEN, id: A200, color: #69f0ae),
  (group: GREEN, id: A400, color: #00e676),
  (group: GREEN, id: A700, color: #00c853),

  (group: LIGHTGREEN, id: pale, color: #dcedc8),
  (group: LIGHTGREEN, id: normal, color: #8bc34a),
  (group: LIGHTGREEN, id: dark, color: #33691e),
  (group: LIGHTGREEN, id: 50, color: #f1f8e9),
  (group: LIGHTGREEN, id: 100, color: #dcedc8),
  (group: LIGHTGREEN, id: 200, color: #c5e1a5),
  (group: LIGHTGREEN, id: 300, color: #aed581),
  (group: LIGHTGREEN, id: 400, color: #9ccc65),
  (group: LIGHTGREEN, id: 500, color: #8bc34a),
  (group: LIGHTGREEN, id: 600, color: #7cb342),
  (group: LIGHTGREEN, id: 700, color: #689f38),
  (group: LIGHTGREEN, id: 800, color: #558b2f),
  (group: LIGHTGREEN, id: 900, color: #33691e),
  (group: LIGHTGREEN, id: A100, color: #ccff90),
  (group: LIGHTGREEN, id: A200, color: #b2ff59),
  (group: LIGHTGREEN, id: A400, color: #76ff03),
  (group: LIGHTGREEN, id: A700, color: #64dd17),

  (group: LIME, id: pale, color: #f0f4c3),
  (group: LIME, id: normal, color: #cddc39),
  (group: LIME, id: dark, color: #827717),
  (group: LIME, id: 50, color: #f9fbe7),
  (group: LIME, id: 100, color: #f0f4c3),
  (group: LIME, id: 200, color: #e6ee9c),
  (group: LIME, id: 300, color: #dce775),
  (group: LIME, id: 400, color: #d4e157),
  (group: LIME, id: 500, color: #cddc39),
  (group: LIME, id: 600, color: #c0ca33),
  (group: LIME, id: 700, color: #afb42b),
  (group: LIME, id: 800, color: #9e9d24),
  (group: LIME, id: 900, color: #827717),
  (group: LIME, id: A100, color: #f4ff81),
  (group: LIME, id: A200, color: #eeff41),
  (group: LIME, id: A400, color: #c6ff00),
  (group: LIME, id: A700, color: #aeea00),

  (group: YELLOW, id: pale, color: #fff9c4),
  (group: YELLOW, id: normal, color: #ffeb3b),
  (group: YELLOW, id: dark, color: #f57f17),
  (group: YELLOW, id: 50, color: #fffde7),
  (group: YELLOW, id: 100, color: #fff9c4),
  (group: YELLOW, id: 200, color: #fff59d),
  (group: YELLOW, id: 300, color: #fff176),
  (group: YELLOW, id: 400, color: #ffee58),
  (group: YELLOW, id: 500, color: #ffeb3b),
  (group: YELLOW, id: 600, color: #fdd835),
  (group: YELLOW, id: 700, color: #fbc02d),
  (group: YELLOW, id: 800, color: #f9a825),
  (group: YELLOW, id: 900, color: #f57f17),
  (group: YELLOW, id: A100, color: #ffff8d),
  (group: YELLOW, id: A200, color: #ffff00),
  (group: YELLOW, id: A400, color: #ffea00),
  (group: YELLOW, id: A700, color: #ffd600),

  (group: AMBER, id: pale, color: #ffecb3),
  (group: AMBER, id: normal, color: #ffc107),
  (group: AMBER, id: dark, color: #ff6f00),
  (group: AMBER, id: 50, color: #fff8e1),
  (group: AMBER, id: 100, color: #ffecb3),
  (group: AMBER, id: 200, color: #ffe082),
  (group: AMBER, id: 300, color: #ffd54f),
  (group: AMBER, id: 400, color: #ffca28),
  (group: AMBER, id: 500, color: #ffc107),
  (group: AMBER, id: 600, color: #ffb300),
  (group: AMBER, id: 700, color: #ffa000),
  (group: AMBER, id: 800, color: #ff8f00),
  (group: AMBER, id: 900, color: #ff6f00),
  (group: AMBER, id: A100, color: #ffe57f),
  (group: AMBER, id: A200, color: #ffd740),
  (group: AMBER, id: A400, color: #ffc400),
  (group: AMBER, id: A700, color: #ffab00),

  (group: ORANGE, id: pale, color: #ffe0b2),
  (group: ORANGE, id: normal, color: #ff9800),
  (group: ORANGE, id: dark, color: #e65100),
  (group: ORANGE, id: 50, color: #fff3e0),
  (group: ORANGE, id: 100, color: #ffe0b2),
  (group: ORANGE, id: 200, color: #ffcc80),
  (group: ORANGE, id: 300, color: #ffb74d),
  (group: ORANGE, id: 400, color: #ffa726),
  (group: ORANGE, id: 500, color: #ff9800),
  (group: ORANGE, id: 600, color: #fb8c00),
  (group: ORANGE, id: 700, color: #f57c00),
  (group: ORANGE, id: 800, color: #ef6c00),
  (group: ORANGE, id: 900, color: #e65100),
  (group: ORANGE, id: A100, color: #ffd180),
  (group: ORANGE, id: A200, color: #ffab40),
  (group: ORANGE, id: A400, color: #ff9100),
  (group: ORANGE, id: A700, color: #ff6d00),

  (group: DEEPORANGE, id: pale, color: #ffccbc),
  (group: DEEPORANGE, id: normal, color: #ff5722),
  (group: DEEPORANGE, id: dark, color: #bf360c),
  (group: DEEPORANGE, id: 50, color: #fbe9e7),
  (group: DEEPORANGE, id: 100, color: #ffccbc),
  (group: DEEPORANGE, id: 200, color: #ffab91),
  (group: DEEPORANGE, id: 300, color: #ff8a65),
  (group: DEEPORANGE, id: 400, color: #ff7043),
  (group: DEEPORANGE, id: 500, color: #ff5722),
  (group: DEEPORANGE, id: 600, color: #f4511e),
  (group: DEEPORANGE, id: 700, color: #e64a19),
  (group: DEEPORANGE, id: 800, color: #d84315),
  (group: DEEPORANGE, id: 900, color: #bf360c),
  (group: DEEPORANGE, id: A100, color: #ff9e80),
  (group: DEEPORANGE, id: A200, color: #ff6e40),
  (group: DEEPORANGE, id: A400, color: #ff3d00),
  (group: DEEPORANGE, id: A700, color: #dd2c00),

  (group: BROWN, id: pale, color: #d7ccc8),
  (group: BROWN, id: normal, color: #795548),
  (group: BROWN, id: dark, color: #3e2723),
  (group: BROWN, id: 50, color: #efebe9),
  (group: BROWN, id: 100, color: #d7ccc8),
  (group: BROWN, id: 200, color: #bcaaa4),
  (group: BROWN, id: 300, color: #bcaaa4),
  (group: BROWN, id: 400, color: #8d6e63),
  (group: BROWN, id: 500, color: #795548),
  (group: BROWN, id: 600, color: #6d4c41),
  (group: BROWN, id: 700, color: #5d4037),
  (group: BROWN, id: 800, color: #4e342e),
  (group: BROWN, id: 900, color: #3e2723),

  (group: GREY, id: pale, color: #f5f5f5),
  (group: GREY, id: normal, color: #9e9e9e),
  (group: GREY, id: dark, color: #212121),
  (group: GREY, id: 50, color: #fafafa),
  (group: GREY, id: 100, color: #f5f5f5),
  (group: GREY, id: 200, color: #eeeeee),
  (group: GREY, id: 300, color: #e0e0e0),
  (group: GREY, id: 400, color: #bdbdbd),
  (group: GREY, id: 500, color: #9e9e9e),
  (group: GREY, id: 600, color: #757575),
  (group: GREY, id: 700, color: #616161),
  (group: GREY, id: 800, color: #424242),
  (group: GREY, id: 900, color: #212121),

  (group: BLUEGREY, id: pale, color: #cfd8dc),
  (group: BLUEGREY, id: normal, color: #607d8b),
  (group: BLUEGREY, id: dark, color: #263238),
  (group: BLUEGREY, id: 50, color: #eceff1),
  (group: BLUEGREY, id: 100, color: #cfd8dc),
  (group: BLUEGREY, id: 200, color: #b0bec5),
  (group: BLUEGREY, id: 300, color: #90a4ae),
  (group: BLUEGREY, id: 400, color: #78909c),
  (group: BLUEGREY, id: 500, color: #607d8b),
  (group: BLUEGREY, id: 600, color: #546e7a),
  (group: BLUEGREY, id: 700, color: #455a64),
  (group: BLUEGREY, id: 800, color: #37474f),
  (group: BLUEGREY, id: 900, color: #263238);

// Color  Function
@function color($group, $shade:normal, $transparency:1){
  @each $color in $color-stack{
    $c-group: map-get($color, group);
    $c-shade: map-get($color, id);
    @if($group == map-get($color, group) and $shade == map-get($color, id)){
      @return rgba(map-get($color, color), $transparency);
    }
  }
}