@import './colors';
$default-font-size: 1rem;
$default-line-height: 1.15;

// color
$color-primary: color(BLUE, dark);
$color-success: color(GREEN, normal);
$color-danger: color(RED, normal);
$color-error: color(RED, dark);
$color-warnning: color(YELLOW, dark);
$color-info: color(GREY, normal);